body {

    margin:0;
    padding:0;

}
.Hero {

    
    position:relative;
    background-color: #231a2a;
    height:700px;
    width:100%;
    overflow: hidden;
    padding:0;
    

}

.Hero p {

    
    font-family:'Archivo Black', 'serif';
    color: #DDD7E0;
    margin:0px;
    font-size:16em;
    line-height: 0.9em;
    
    

}

.Hero .small-paragraph {

font-family:'roboto' , 'serif';
position:relative;
font-size:2.7em;
font-weight:100;
left:10px;


}




.column-left{

    margin:100px 0px 0px 50px;
    float:left;
    position:absolute;
    width:30%;
    height:500px;
    
}

.column-right{
    
    margin:100px 50px 0px 0px;
    display:grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: minmax(100px, max-content);
    grid-column-gap:1.4rem;
    grid-row-gap:1.4rem;
    float:right;
    width:60%;
    height:500px;
    
   
    
   
}

.a {

grid-column: 1 / span 10;
grid-row:1;


}

.b {

    grid-column: 11 / span 5;
    grid-row:1;
    
    }

.c {

        grid-column: 1 / span 3;
        grid-row:2;
        
        
    }
    

.d {

        grid-column: 4 / span 3;
        grid-row:2;
        object-fit:scale-down;

        }

.e {

        grid-column: 7 / span 5;
        grid-row:2;
        
            
        }

.f {

        grid-column: 12 / span 4;
        grid-row:2;
        
                
         }
    

.img-style{

    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}

.img-style:hover {

    -webkit-filter: grayscale(0);
	filter: grayscale(0);
    
    

}



/** Mobile layout start **/


@media all and (max-width:805px) 
{


    .Hero {

    display:grid;
    place-content: center;
    
    }



    .column-left

    {
        display: block; 
        float: none; 
        padding-top:50px;
        width: 100%;
        height:100%;
        margin:0;
        paddding: 0;
        position: relative;

    }


     .column-right {

        display: grid;
        grid-template-columns: repeat(13, 1fr);
        grid-template-rows: minmax(100px, max-content);
        grid-column-gap:1.5rem;
        grid-row-gap:1.5rem;
        float: none; 
        width: 100%;
        
    }

    .a {

        grid-column: 1 / span 10;
        grid-row:1;
        
        
        }
        
        .b {
        
            grid-column: 11 / span 5;
            grid-row:1;
            
            }
        
        .c {
        
                grid-column: 1 / span 10;
                grid-row:2;
                
                
            }
            
        
        .d {
        
                grid-column: 11 / span 3;
                grid-row:2;
                object-fit:scale-down;
        
                }
        
        .e {
        
                grid-column: 7 / span 5;
                grid-row:3;
                
                    
                }
        
        .f {
        
                grid-column: 12 / span 4;
                grid-row:3;
                
                        
                 }

    .Hero {

        margin:0;
        height:100%;

    }



    .Hero p {

        position:relative;
        justify-content: center;
        text-align: center;
        
    }


}

/** Mobile layout end **/

/** Tablet layout start **/
@media all and (max-width:1080px) 
{

    .column-left {

        width:20%;


    }
    

    .column-right {

        width:50%;


    }



    .Hero p {

        font-size:14em;
        position:relative;
        justify-content: center;
        text-align: center;
        
    }

    .Hero .small-paragraph {

        white-space: nowrap;
        

    }


}

/** Tablet layout end **/

@media all and (min-width:1500px) {

.column-left {

display:grid;
place-content: center;

}



}


