body {

    margin:0;
    padding:0;

}
.Hero {

    
    position:relative;
    background-color: #231a2a;
    height:700px;
    width:100%;
    overflow: hidden;
    padding:0;
    

}

.Hero p {

    position: absolute;
    font-family:'Archivo Black', 'serif';
    color: #DDD7E0;
    margin:0px;
    font-size:16em;
    line-height: 0.9em;
    
    

}

.Hero .small-paragraph {

font-family:roboto;
position:relative;
font-size:2.4em;
font-weight:100;


}




.column-left{

    margin:100px 0px 0px 50px;
    float:left;
    position:absolute;
    width:30%;
    height:500px;
    
}

.column-right{
    
    margin:100px 50px 0px 0px;
    display:grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: minmax(100px, max-content);
    grid-column-gap:1.4rem;
    grid-row-gap:1.4rem;
    float:right;
    width:60%;
    height:500px;
    
   
    
   
}

.a {

grid-column: 1 / span 10;
grid-row:1;


}

.b {

    grid-column: 11 / span 5;
    grid-row:1;
    
    }

.c {

        grid-column: 1 / span 3;
        grid-row:2;
        
        
    }
    

.d {

        grid-column: 4 / span 3;
        grid-row:2;
        object-fit:scale-down;

        }

.e {

        grid-column: 7 / span 5;
        grid-row:2;
        
            
        }

.f {

        grid-column: 12 / span 4;
        grid-row:2;
        
                
         }
    

.img-style{

    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}

.img-style:hover {

    -webkit-filter: grayscale(0);
	filter: grayscale(0);
    
    

}



/** Mobile layout start **/


@media all and (max-width:805px) 
{


    .Hero {

        display: flex;
        flex-direction: column;

    }



    .column-left

    {
        display: block; 
        float: none; 
        padding-top:50px;
        width: 100%;
        height:100%;
        margin:0;
        position: relative;

    }


     .column-right {

        display: block; 
        float: none; 
        width: 100%;
        margin:0;
        position:relative;
       

    }

    .Hero {

        margin:0;
        height:100%;

    }



    .Hero p {

        position:relative;
        justify-content: center;
        text-align: center;
        
    }


}

/** Mobile layout end **/

/** Tablet layout start **/
@media all and (max-width:1380px) 
{


    



    .Hero p {

        font-size:14em;
        position:relative;
        justify-content: center;
        text-align: center;
        
    }


}

/** Tablet layout end **/


